MONGO_URI=mongodb+srv://sonsuscato:gamerfilo7@cluster0.9bbfi6u.mongodb.net/?appName=Cluster0
PORT=4000
VITE_API_BASE_URL=
JWT_SECRET=
KAYRA_PASSWORD=kayros1180
ZEHRA_PASSWORD=zehra1180
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
OMDB_API_KEY=
