<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hazal ❤️</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gradient-to-r from-pink-950 via-pink-950 to-pink-500   min-h-screen">

    <header class="backdrop-blur-md bg-white/10 shadow-lg">
        <nav class="max-w-7xl mx-auto flex flex-wrap justify-center gap-6 py-6 text-white font-semibold">
            <a href="#" class="hover:text-yellow-300 transition">Hazal</a>
            <a href="#" class="hover:text-yellow-300 transition">Birlikte</a>
            <a href="#" class="hover:text-yellow-300 transition">Hikayemiz</a>
            <a href="#" class="hover:text-yellow-300 transition">Galeri</a>
            <a href="#" class="hover:text-yellow-300 transition">Hayaller</a>
            <a href="#" class="hover:text-yellow-300 transition">Sohbet</a>
            <a href="#" class="hover:text-yellow-300 transition">Aklımdakiler</a>
            <a href="#" class="hover:text-yellow-300 transition">Filmler</a>
            <a href="#" class="hover:text-yellow-300 transition">Ayarlar</a>
            <a href="#" class="hover:text-yellow-300 transition">Profil</a>
        </nav>
    </header>

    <section class="flex items-center justify-center text-center px-6 py-32">
        <div>
            <h1 class="text-6xl font-bold text-white mb-6">
                Hazal
            </h1>

            <p class="text-xl text-white/90 max-w-2xl mx-auto">
                Birlikte yazılan en güzel hikayeler, tesadüf gibi görünen
                küçük anlarla başlar.
            </p>

            <button
                class="mt-8 px-8 py-3 bg-white text-rose-500 font-bold rounded-full hover:scale-105 transition duration-300 shadow-xl">
                Hikayemizi Keşfet
            </button>
        </div>
    </section>

    <script>
        var yas = 18;

        if (yas >= 18) {
            console.log("Reşitsin");
        } else {
            console.log("Reşit değilsin");
        }
    </script>

</body>

</html>